@{
    ViewData["Title"] = "Контакти Delivery International Poland";
}

<div>
    <div class="crumbs crumbs--no-heading section--white">
        <div class="c-container">
            <div class="crumbs__inner">
                <a href="index.html">Головна</a> / <span>Контакти</span>
            </div>
        </div>
    </div>

    <section class="section--white">
        <div class="c-container c-container--contacts-page">
            <div class="contacts-page">
                <h2 class="section-title">Контакти</h2>
                <div class="contacts-page__inner">

                    <!-- Ukraine -->

                    <div class="contacts-page__one-side">
                        <ul class="contacts-page__ul">
                            <li class="contacts-page__item">
                                <h3 class="contacts-page__sub-title">Представництво в Україні</h3>
                                <a class="contacts-page__name-company" href="https://www.delivery-international.com/" target="_blank">"Delivery-International"</a>
                            </li>

                            <li class="contacts-page__item">
                                <img class="contacts-page__icon" src="../../img/system/icon/phone-call-icon--gray.svg" alt="icon">
                                <a class="contacts-page__link" href="tel:+380675578874">+38(067)557-88-74</a>
                            </li>

                            <li class="contacts-page__item">
                                <img class="contacts-page__icon" src="../../img/system/icon/mail-icon--gray.svg" alt="icon">
                                <a class="contacts-page__link" href="mailto:office@delivery-auto.com.ua">office@delivery-auto.com.ua</a>
                            </li>

                            <li class="contacts-page__item">
                                <img class="contacts-page__icon" src="../../img/system/icon/point-icon--gray.svg" alt="icon">
                                <a class="contacts-page__link" target="_blank" href="https://goo.gl/maps/EpAer2bhjUU5B8Fg9">
                                    Україна 01024, м. Київ, <br>
                                    вул. Велика Васильківська 15/2
                                </a>
                            </li>
                        </ul>

                        <div class="contacts-page__map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20328.156837730916!2d30.521835371020273!3d50.44073549223763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cefee7040109%3A0x8c77c4dd773d01c!2z0YPQuy4g0JHQvtC70YzRiNCw0Y8g0JLQsNGB0LjQu9GM0LrQvtCy0YHQutCw0Y8sIDE1LzIsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1618832759360!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>

                    <!-- Poland -->

                    <div class="contacts-page__one-side">
                        <ul class="contacts-page__ul">
                            <li class="contacts-page__item">
                                <h3 class="contacts-page__sub-title">Представництво в Польщі</h3>
                                <a class="contacts-page__name-company" target="_blank">"Delivery International Poland"</a>
                            </li>

                            <li class="contacts-page__item">
                                <img class="contacts-page__icon" src="../../img/system/icon/phone-call-icon--gray.svg" alt="icon">
                                <a class="contacts-page__link" href="tel:+48735633869">+48 735 633 869</a>
                            </li>

                            <li class="contacts-page__item">
                                <img class="contacts-page__icon" src="../../img/system/icon/mail-icon--gray.svg" alt="icon">
                                <a class="contacts-page__link" href="mailto:office@deliveryip.pl">office@deliveryip.pl</a>
                            </li>

                            <li class="contacts-page__item">
                                <img class="contacts-page__icon" src="../../img/system/icon/point-icon--gray.svg" alt="icon">
                                <a class="contacts-page__link" target="_blank" href="https://goo.gl/maps/HHCMThKSQdPa511p9">
                                    мн. Яна Кіліньського No2, <br>
                                    Жешув, 35-005
                                </a>
                            </li>
                        </ul>

                        <div class="contacts-page__map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.3623293890296!2d22.006461215716616!3d50.04204347942104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfb1d45174c9b%3A0x96b4fbe040013dcc!2zUGxhYyBKYW5hIEtpbGnFhHNraWVnbyAyLCAzNS0wMDUgUnplc3rDs3csINCf0L7Qu9GM0YjQsA!5e0!3m2!1sru!2sua!4v1618834840952!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>

                    <div class="socials">
                        <h4 class="socials__title">Долучайтесь до наших груп у соціальних мережах</h4>
                        <ul class="socials__ul">
                            <li class="socials__item">
                                <a class="socials__link" href="#" target="_blank">
                                    <img src="../../img/system/icon/socials/socials__whatsapp.svg" alt="whatsapp">
                                </a>
                            </li>

                            <li class="socials__item">
                                <a class="socials__link" href="#" target="_blank">
                                    <img src="../../img/system/icon/socials/socials__wechat.svg" alt="wechat">
                                </a>
                            </li>

                            <li class="socials__item">
                                <a class="socials__link" href="#" target="_blank">
                                    <img src="../../img/system/icon/socials/socials__telegram.svg" alt="telegram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="included__contact-block">
        @await Html.PartialAsync("Contact")
    </section>
</div>