<div class="c-container">
    <div class="about-company">
        <div class="about-company__info">
            <h2 class="section-title">Про компанію Delivery International Poland</h2>
            <div class="text-block">
                <p>Група компаній «DELIVERY» почала роботу в 2001 році. Основною спеціалізацією групи є надання транспортних та логістичних послуг для сектору В2В (суб’єкти підприємницької діяльності та корпоративний сектор) як на території України, так і за її межами.</p>
                <p>
                    За роки роботи наша група стала надійним партнером для більш ніж 500 тисяч корпоративних клієнтів, які працюють в усіх галузях економіки країни.
                </p>
            </div>
        </div>

        <div class="about-company__map">
            <img src="../img/system/any/world-map.svg" alt="world map">
        </div>
    </div>
</div>