<!-- Pop Up Подписка на новости -->
<div id="popup-default" style="display: none;">
    <!-- Для поп-апа Ошибки - нужно добавлять класс <form class="popup-notify popup-notify--error"> -->
    <form id="popup-form" class="popup-notify">
        <div>
            <h3 class="popup-notify__title" id="popup-title"></h3>
            <p id="popup-message"></p>
        </div>
        <div class="popup-icon">
            <img src="../../img/system/icon/pop-up__notify-car-icon.png" alt="caricon">
        </div>
    </form>
</div>

<!-- необходим тут -->
<script src="../../js/components/popup.js" type="text/javascript"></script>