<div class="c-container">
    <div class="services-block">
        <div class="services-block__info">
            <h2 class="section-title">Послуги компанії</h2>
            <p>Запрошуємо вас скористатись нашими послугами. Впевнені, що ми зможемо вирішити будь яке ваше питання у логістичній сфері</p>
        </div>

        <ul class="services-block__ul">
            <li class="services-block__item">
                <a asp-action="Index" asp-controller="GenericPages" asp-route-id="4" target="_blank" class="services-block__link">
                    <div class="services-block__icon">
                        <img class="white-icon" src="../img/system/icon/services/services__truck.svg" alt="icon">
                        <img class="black-icon" src="../img/system/icon/services/services__truck--black.svg" alt="icon">
                    </div>
                    <p class="services-block__text">Комерційні перевезення</p>
                    <div class="services-block__open-icon">
                        <img class="white-icon" src="../img/system/icon/arrow-white.svg" alt="open-icon">
                        <img class="black-icon" src="../img/system/icon/arrow-black.svg" alt="open-icon">
                    </div>
                </a>
            </li>

            <li class="services-block__item">
                <a asp-action="Index" asp-controller="GenericPages" asp-route-id="5" target="_blank" class="services-block__link">
                    <div class="services-block__icon">
                        <img class="white-icon" src="../img/system/icon/services/services__box.svg" alt="icon">
                        <img class="black-icon" src="../img/system/icon/services/services__box--black.svg" alt="icon">
                    </div>
                    <p class="services-block__text">Складські послуги</p>
                    <div class="services-block__open-icon">
                        <img class="white-icon" src="../img/system/icon/arrow-white.svg" alt="open-icon">
                        <img class="black-icon" src="../img/system/icon/arrow-black.svg" alt="open-icon">
                    </div>
                </a>
            </li>

            <li class="services-block__item">
                <a asp-action="Index" asp-controller="GenericPages" asp-route-id="6" target="_blank" class="services-block__link">
                    <div class="services-block__icon">
                        <img class="white-icon" src="../img/system/icon/services/services__world.svg" alt="icon">
                        <img class="black-icon" src="../img/system/icon/services/services__world--black.svg" alt="icon">
                    </div>
                    <p class="services-block__text">Експортна пошта</p>
                    <div class="services-block__open-icon">
                        <img class="white-icon" src="../img/system/icon/arrow-white.svg" alt="open-icon">
                        <img class="black-icon" src="../img/system/icon/arrow-black.svg" alt="open-icon">
                    </div>
                </a>
            </li>

            <li class="services-block__item">
                <a asp-action="Index" asp-controller="GenericPages" asp-route-id="7" target="_blank" class="services-block__link">
                    <div class="services-block__icon">
                        <img class="white-icon" src="../img/system/icon/services/services__envelope.svg" alt="icon">
                        <img class="black-icon" src="../img/system/icon/services/services__envelope--black.svg" alt="icon">
                    </div>
                    <p class="services-block__text">Імпортна пошта</p>
                    <div class="services-block__open-icon">
                        <img class="white-icon" src="../img/system/icon/arrow-white.svg" alt="open-icon">
                        <img class="black-icon" src="../img/system/icon/arrow-black.svg" alt="open-icon">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>