@model PolandDelivery.Models.ViewModels.ChangePasswordRequest
@{
    ViewBag.Title = "Змінити пароль";
}

<link href="../../css/account.css" rel="stylesheet" type="text/css" />

<h2>Змінити пароль для користувача @Model.userName</h2>
<form asp-action="ChangePassword" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="id" />
    <input type="hidden" asp-for="userName" />

    <div class="form-group">
        <label asp-for="newPassword" class="control-label">Новий пароль</label>
        <input type="text" asp-for="newPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-outline-dark main-btn" />
    </div>

    <div class="to-main">
        <a asp-action="Users" asp-controller="Admin">До списку користувачів</a>
    </div>

</form>