@model PolandDelivery.Models.ViewModels.RegistrationRequest
@{
    ViewData["Title"] = "Створення користувача";
}

<link href="../../css/account.css" rel="stylesheet" type="text/css" />

<h2>Створення користувача</h2>
<form method="POST" asp-controller="Admin" asp-action="CreateUser">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="userName"></label><br />
        <input asp-for="userName" />
        <span asp-validation-for="userName"></span>
    </div>
    <div>
        <label asp-for="password"></label><br />
        <input asp-for="password" />
        <span asp-validation-for="password"></span>
    </div>
    <div>
        <label asp-for="passwordConfirm"></label><br />
        <input asp-for="passwordConfirm" />
        <span asp-validation-for="passwordConfirm"></span>
    </div>
    <div>
        <input type="submit" class="main-btn" value="Створити" />
    </div>

    <div class="to-main">
        <a asp-action="Users" asp-controller="Admin">До списку користувачів</a>
    </div>
</form>