@model IEnumerable<PolandDelivery.Models.DBModels.User>
@{ 
    ViewData["Title"] = "Список користувачів";
}

<link href="../../css/admin.css" rel="stylesheet" type="text/css" />

<div class="c-container">
    <h2>Список користувачів</h2>
    <div class="table-stl">
        @foreach (var user in Model)
        {
            <div class="just_flex table-row">
                <div class="user-name-column">
                    <a asp-action="ChangePassword" asp-route-id="@user.Id" class="login-name">@user.UserName</a>
                </div>
                <div class="access-column">
                    <a class="btn btn-sm btn-primary" asp-action="EditUserRole" asp-route-userId="@user.Id">права доступу</a>
                </div>
                <div class="delete-btn">
                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                        <input type="submit" class="btn btn-sm btn-primary close-btn" value="X" />
                    </form>
                </div>
            </div>
        }
    </div>
    
    <div class="to-main">
        <a asp-action="CreateUser" asp-controller="Admin">Створити користувача</a>
    </div>
    
    <div class="to-main">
        <a asp-action="Index" asp-controller="Admin">На головну</a>
    </div>
    
</div>
